.my-board {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: auto;

    &__title {
        background: #60a34f;
        color: #000;
        border: 2px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        font-size: 21px;
        padding: 0 30px;
        margin: 20px 0;
        max-width: fit-content;
        min-width: 250px;
        box-sizing: border-box;
    }

    &__add-task {
        padding: 25px 20px 15px;
        display: flex;
        width: 250px;
        border: 2px solid #000;
        position: relative;
    }

    &__add-name-task {
        width: 100%;
        border: 2px solid #000;
        font-size: 16px;
    }

    &__container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        overflow-y: auto;
        height: calc(100vh - 187px);
    }
}

.list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    &__element {
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        border: 2px solid #000;
        padding: 7px;
        width: 250px;
        position: relative;
    }

    &__add-element {
        width: 100%;
        border: 2px solid #000;
        font-size: 16px;
        margin: 13px 0 4px;
    }

    &__element-list {
        width: 100%;
        background: #60a34f;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        border: 2px solid #000;
        margin-top: 8px;
        box-sizing: border-box;
        padding: 2px 34px 2px 4px;
        font-size: 16px;
        font-weight: 500;
        box-shadow: 2px 2px #2c3029;
        position: relative;
    }

    &__delete {
        font-size: 15px;
        font-weight: 900;
        position: absolute;
        right: 3px;
        top: 0px;
        cursor: pointer;
    }

    &__done {
        font-size: 15px;
        font-weight: 900;
        position: absolute;
        right: 22px;
        top: 0px;
        cursor: pointer;
    }

    &__element-list.done {
        background: #d5d7d0;
        text-decoration: line-through;
    }
}